.additional {
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33 / 24 + 0;
        margin-bottom: 14px;
    }

    &__inner {
        display: flex;
        color: #515050;
        font-size: 16px;
        line-height: 22 / 16 + 0;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
            padding-bottom: 30px;
        }
    }

    &__item {
        flex: 1;
        @media screen and (max-width: 1200px) {
            width: 33%;
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 33%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 100%;
        }
        &:not(:last-child) {
            margin-right: 32px;
            margin-bottom: 27px;
            @media screen and (max-width: 1200px) {
                margin-right: 0;
                padding-right: 20px;
            }
        }

        b {

        }

        p {
            b {

            }
        }
    }
}
