doctype html
html(lang="ru")

    include ../components/head/head.pug
    include ../components/page-registration/page-registration.pug

    head
        +head()
    body.page-registration
        |%=symbols=%

        section.page__wrapper
            +page-registration()

        //script(src='%=static=%js/separate-js/svg4everybody.min.js')
        //script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
