mixin drugOne()
    svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M14.6341 1.36667C13.7208 0.453333 12.5274 0 11.3341 0C10.1408 0 8.94744 0.453333 8.03411 1.36667L1.36744 8.03333C-0.452558 9.85333 -0.452558 12.8133 1.36744 14.6333C2.28077 15.5467 3.47411 16 4.66744 16C5.86077 16 7.05411 15.5467 7.96744 14.6333L14.6341 7.96667C16.4541 6.14667 16.4541 3.18667 14.6341 1.36667ZM13.9274 7.26L10.5941 10.5933L5.40744 5.40667L8.74077 2.07333C9.43411 1.38 10.3541 1 11.3341 1C12.3141 1 13.2341 1.38 13.9274 2.07333C14.6208 2.76667 15.0008 3.68667 15.0008 4.66667C15.0008 5.64667 14.6208 6.56667 13.9274 7.26Z' fill='currentColor')

