.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding-top: 26px;
    padding-bottom: 28px;

    p {
        font-size: 14px;
        line-height: 19 / 14 + 0;
    }

    &__info {
        display: flex;
        font-size: 14px;
        line-height: 19 / 14 + 0;
        svg {
            margin-right: 10px;
        }
    }
}
