ul.tabs
    li
        button.tabs__item.is-active
            include ./images/morning_sun.svg
            span Утро
    li
        button.tabs__item
            include ./images/mid_day_sun.svg
            span День
    li
        button.tabs__item
            include ./images/night_moon.svg
            span Вечер

