include ../../static/img/general/drug
mixin table()
    .table
        .thead
            .thead__item
                span Название препарата
            .thead__item
                span Время приема
            .thead__item
                span Дозировка
            .thead__item
                span Способ приема
            .thead__item
                span Комментарии
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
        .drug
            b.drug__title Omega3
            p.drug__time-of-medication за 30 минут до еды
            .drug__count
                div.mob-title Дозировка
                div
                    span 3 капсулы
                    .icons
                        +drugOne()
                        +drugOne()
                        +drugOne()
            .drug__way_of_receiving
                div.mob-title Способ приема
                span Запить водой
            p.drug__comment -
