@mixin table-cols {
    flex-basis: calc(100% / 5);
    box-sizing: border-box;
    padding-left: 32px;
    @media screen and (max-width: 1200px) {
        padding-left: 0;
        flex-basis: calc(100% / 2);
    }
    &:nth-child(1) {
        padding-left: 0;
    }

    &:nth-child(2) {
    }

    &:nth-child(3) {
        padding-left: 70px;
        @media screen and (max-width: 1200px) {
            padding-left: 0;
        }
    }
}

.table {
    background: #FFFFFF;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 32px 0px 24px;
    box-sizing: border-box;
    @media screen and (max-width: 1200px) {
        padding: 0;
        background: transparent;
        box-shadow: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .thead {
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        padding-bottom: 18px;
        display: flex;
        justify-content: space-between;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 8px;
        @media screen and (max-width: 1200px) {
            display: none;
        }

        &__item {
            font-size: 14px;
            line-height: 19 / 14 + 0;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @include table-cols;
        }
    }

    .drug {
        padding-top: 16px;
        padding-bottom: 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 16px;
        @media screen and (max-width: 1200px) {
            margin-left: 0;
            margin-right: 0;
            background: #FFFFFF;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            margin-bottom: 16px;
            flex-basis: calc(50% - 8px);
            display: flex;
            flex-wrap: wrap;
            padding: 16px 16px 21px 16px;
            width: 50%;
            & > * {
                width: 50%;
            }
        }
        @media screen and (max-width: 1200px) {

            flex-basis: 100%;
        }

        .mob-title {
            display: none;
            @media screen and (max-width: 1200px) {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #000000;
                opacity: 0.5;
                display: block;
                margin-bottom: 4px;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            @media screen and (max-width: 1200px) {
                border-bottom: none;
            }
        }

        & > * {
            @include table-cols;
        }

        &__title {
            font-weight: bold;
            line-height: 22 / 16 + 0;
            @media screen and (max-width: 1200px) {
                border-bottom: 1px solid rgba(0, 0, 0, .2);
                padding-bottom: 16px;
                margin-bottom: 16px;
            }

        }

        &__time-of-medication {
            @media screen and (max-width: 1200px) {
                border-bottom: 1px solid rgba(0, 0, 0, .2);
                padding-bottom: 16px;
                margin-bottom: 16px;
                text-align: right;
                padding-top: 2px;
            }
        }

        &__count {

            div {
                position: relative;

                span {
                }

                .icons {
                    color: #1CDE98;
                    position: absolute;
                    top: 0;
                    right: 100%;
                    display: flex;
                    flex-shrink: 0;
                    width: 100px;
                    justify-content: flex-end;
                    padding-right: 6px;
                    @media screen and (max-width: 1200px) {
                        display: none;
                    }

                    svg {
                        color: #1CDE98;
                        display: block;
                        flex-shrink: 0;
                        width: 16px;
                        height: 16px;

                        &:not(:last-child) {
                            margin-right: 4px;
                        }
                    }
                }
            }


        }

        &__way_of_receiving {
            @media screen and (max-width: 1200px) {
                text-align: right;
            }
        }

        &__comment {
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
    }
}
