ul.tabs
    li
        button.tabs__item.is-active
            include ../../static/img/general/morning_sun.svg
            span Утро
    li
        button.tabs__item
            include ../../static/img/general/mid_day_sun.svg
            span День
    li
        button.tabs__item
            include ../../static/img/general/night_moon.svg
            span Вечер

