.additional
    .additional__title Дополнительно
    ul.additional__inner
        li.additional__item
            p <b>Q10</b> (100мг) 1 капсула в день. Утром во время завтрака.
        li.additional__item
            p <b>Витамин К2</b> (45 мг) 2 капсулы. Утром во время завтрака.
        li.additional__item
            p <b>Potassium</b> (500 мг) 1 таблетка x2 раза в день. Завтрак/ужин.
        li.additional__item
            b Белковый коктейль
            p 1 порция между обедом и ужином. Принимать согласно инструкции на этикетке.
        li.additional__item
            b VeinFactors
            p 1 капсула утром и 2 капсулы вечером. С едой.
        li.additional__item
            b Фитолизин
            p Паста 1 ч.л. на 1/2 стакана теплой (+сладкой) воды. 2 раза в день, после еды. Прием 21 день!

