.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 32px;
    padding-bottom: 44px;
    box-sizing: border-box;

    img {
        margin-bottom: 61px;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33 / 24 + 0;
        text-align: center;
        font-weight: 400;
        margin-bottom: 36px;
    }


    .inputs {
        display: flex;
        margin-bottom: 16px;

        input {
            width: 45px;
            height: 64px;
            background: #FFFFFF;
            box-shadow: 0px 5px 20px #C4DBDE !important;
            border-radius: 6px;
            margin: 0px 6px;
            outline: none;
            border: 1px solid transparent;
            text-align: center;

            &:focus {
                border-color: #27C1D4;
            }
        }
    }

    .check_code {
        font-size: 16px;
        line-height: 22 / 16 + 0;
        text-align: center;
        color: #27C1D4;

        &:hover {
            text-decoration: underline;
        }
    }

    .send_code {
        margin-top: 70px;
        font-size: 13px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;

        &:hover {
            text-decoration: underline;
        }
    }

    .send_to_phone_number, .send_to_the_email {
        border: 1px solid #27C1D4;
        box-sizing: border-box;
        border-radius: 32px;
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        text-align: center;
        width: 290px;

        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #27C1D4;
        outline: none;
    }

    .send_to_the_email {
        background: #27C1D5;
        color: #fff;
    }

}
