body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F6FEFF;
    padding-top: 64px;

    .page__wrapper {
        width: 100%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}
