body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F6FEFF;
    padding-top: 64px;

    @media screen and (max-width: 768px) {
        padding-top: 32px;
    }

    .page__wrapper {
        width: 100%;
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
