mixin page()
    section.page__wrapper
        include ./childrens/tabs/tabs.pug
        include ./childrens/table/table.pug
        include ./childrens/additional/additional.pug
        include ./childrens/footer/footer.pug
